{% extends 'base.html.twig' %} {% block stylesheets %} {{ parent() }} {% endblock %} {% block body %}

<!--header start-->
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo">
        <b>PROCOST</b>
    </a>
    <!--logo end-->
    <div class="search-engine">
      <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Recherche">
                </div>
                <button type="button" class="btn btn-theme">OK</button>
            </form>
        </div>
    </div>
</header>
<!--header end-->

{% block nav %}
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered">
                <img src="{{ asset('img/ui-sam.jpg') }}" class="img-circle" width="60">
            </p>
            <h5 class="centered">Marcel Director</h5>

            <li class="mt">
                <a class="active" href="{{ path('cms_index') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Tableau de bord</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('cms_projet')}}">
                    <i class="fa fa-desktop"></i>
                    <span>Les projets</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('cms_employe')}}">
                    <i class="fa fa-users"></i>
                    <span>Les employés</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="{{ path('cms_metier')}}">
                    <i class="fa fa-book"></i>
                    <span>Les métiers</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
{% endblock %}

{% block container %}

{% block content %}{% endblock %}

{% block footer %}
<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        2018 - Symfony PROCOST
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
<!--footer end-->
{% endblock %} {% endblock %} {% endblock %}
