<!DOCTYPE html>
<html>
    <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description" content="A web application propulsed by Symfony">
          <meta name="author" content="LPSIL">

          <title>{% block title %}PROCOST - Projects costs calculation with Symfony{% endblock %}</title>

          <!-- Bootstrap core CSS -->
          <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet">
          <!--external css-->
          <link href="{{ asset('font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
          <link rel="stylesheet" type="text/css" href="{{ asset('js/gritter/css/jquery.gritter.css')}}" />
          <link rel="stylesheet" type="text/css" href="{{ asset('lineicons/style.css')}}">

          <!-- Custom styles for this template -->
          <link href="{{ asset('css/style.css')}}" rel="stylesheet">
          <link href="{{ asset('css/style-responsive.css')}}" rel="stylesheet">

          <script src="{{ asset('js/chart-master/Chart.js')}}"></script>

          <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}    <!-- js placed at the end of the document so the pages load faster -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script class="include" type="text/javascript" src="{{ asset('js/jquery.dcjqaccordion.2.7.js') }}"></script>
        <script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ asset('js/jquery.nicescroll.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.sparkline.js') }}"></script>

        <!--common script for all pages-->
        <script src="{{ asset('js/common-scripts.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/gritter/js/jquery.gritter.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/gritter-conf.js') }}"></script>

        <!--script for this page-->
      <script src="{{ asset('js/sparkline-chart.js') }}"></script>{% endblock %}
    </body>
</html>
