{% extends '_layout/public.html.twig' %}

{% block content %}
<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">

                <div class="row mtbox">
                    <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
                        <div class="box1">
                            <span class="li_stack"></span>
                            <h3>{{ projetRealisation }}</h3>
                        </div>
                        <p>{{ projetRealisation }} projets en réalisation</p>
                    </div>
                    <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                            <span class="li_cloud"></span>
                            <h3>{{ projetLivre }}</h3>
                        </div>
                        <p>{{ projetLivre }} projets livrés</p>
                    </div>
                    <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                            <span class="li_user"></span>
                            <h3>{{ employe }}</h3>
                        </div>
                        <p>{{ employe }} employés enregistrés</p>
                    </div>
                    <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                            <span class="li_heart"></span>
                            <h3>{{ jourProduction }}</h3>
                        </div>
                        <p>{{ jourProduction }} jours de production</p>
                    </div>
                </div>
                <!-- /row mt -->

                <div class="row mt">
                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn donut-chart">
                            <div class="white-header">
                                <h5>RENTABILITE</h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6 goleft">
                                    <p>
                                        <i class="fa fa-database"></i> {{ rentabilite.capex }}% CAPEX</p>
                                </div>
                            </div>
                            <canvas id="ratio" height="120" width="120"></canvas>
                            <script>
                                var doughnutData = [{ value: {{ rentabilite.capex }}, color: "#68dff0" }, { value: {{ rentabilite.opex }}, color: "#fdfdfd" }];
                                var myDoughnut = new Chart(document.getElementById("ratio").getContext("2d")).Doughnut(doughnutData);
                            </script>
                        </div>
                        <!--/grey-panel -->
                    </div>

                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn donut-chart">
                            <div class="white-header">
                                <h5>TAUX DE LIVRAISON</h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6 goleft">
                                    <p>
                                        <i class="fa fa-cloud"></i> {{  livraison.livre }}% LIVRES</p>
                                </div>
                            </div>
                            <canvas id="ratio2" height="120" width="120"></canvas>
                            <script>
                                var doughnutData = [{ value: {{  livraison.livre }}, color: "#68dff0" }, { value: {{  livraison.nonLivre }}, color: "#fdfdfd" }];
                                var myDoughnut = new Chart(document.getElementById("ratio2").getContext("2d")).Doughnut(doughnutData);
                            </script>
                        </div>
                        <!--/grey-panel -->
                    </div>

                    <div class="col-md-4 mb">
                        <!-- WHITE PANEL - TOP USER -->
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>TOP EMPLOYE</h5>
                            </div>
                            <p>
                                <img src="{{ asset('img/ui-zac.jpg') }} " class="img-circle" width="80">
                            </p>
                            <p>
                                <b>{{ meillerEmploye.nom }} {{ meillerEmploye.prenom }}</b>
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="small mt">EMPLOYE DEPUIS</p>
                                    <p>{{ meillerEmploye.dateEmbauche|date('Y') }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="small mt">TOTAL DEPENSE</p>
                                    <p>{{ meillerEmploye.total }} €</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /col-md-4 -->

                </div>
                <!-- /row -->

                <div class="row">
                    <div class="col-lg-12 main-chart">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Projet</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Coût</th>
                                    <th>Livré ?</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for projet in lastProjet %}
                                <tr>
                                    <th>
                                        <a href="{{ path('cms_projetTrack', {'id' : projet.idProjet}) }}">{{ projet.intituleProjet }}</a>
                                    </th>
                                    <th>{{ projet.type }}</th>
                                    <th>{{ projet.dateCreationProjet|date('d-m-Y') }}</th>
                                    <th>{{ projet.total }} €</th>
                                    <th>
                                      {% if projet.livre %}
                                        <span class="label label-success label-mini">OUI</span>
                                        {% else %}
                                        <span class="label label-danger label-mini">NON</span>
                                        {% endif %}
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /col-lg-9 END SECTION MIDDLE -->

            <!-- ***********************************************************************************************************************************************
            RIGHT SIDEBAR CONTENT
            ************************************************************************************************************************************************ -->

            <div class="col-lg-3 ds">
                <h3>TEMPS DE PRODUCTION</h3>
                {% for employe in lastTempSaisie %}
                <div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme">
                            <i class="fa fa-clock-o"></i>
                        </span>
                    </div>
                    <div class="details">
                        <p>
                            <a href="#">{{ employe.nom }} {{ employe.prenom }}</a> a travaillé sur
                            <a href="#">{{ employe.intituleMetier }}</a>.
                            <br/>
                            <muted>{{ employe.jourProduction }} JOURS</muted>
                        </p>
                    </div>
                </div>
                {% endfor %}
              </div>
            <!-- /col-lg-3 -->
        </div>
        <!--/row -->
    </section>
</section>

<!--main content end-->
{% endblock %}
