{% extends '_layout/public.html.twig' %}

{% block content %}

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Suivi de {{ suiviEmploye.nom }} {{ suiviEmploye.prenom }}</h3>

        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <div class="form-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <tbody>
                                <tr><th>Nom</th><td>{{ suiviEmploye.nom }}</td></tr>
                                <tr><th>Prenom</th><td>{{ suiviEmploye.prenom }}</td></tr>
                                <tr><th>Email</th><td>{{ suiviEmploye.email }}</td></tr>
                                <tr><th>Métier</th><td>{{ suiviEmploye.intituleMetier }}</td></tr>
                                <tr><th>Coût (jour)</th><td>{{ suiviEmploye.coutJournalier }} €</td></tr>
                                <tr><th>Date d'embauche</th><td>{{ suiviEmploye.dateEmbauche|date('d-m-Y') }}</td></tr>
                            </tbody>
                        </table>
                        <a class="btn btn-success btn-sm" href="{{ path('cms_employeUpdate')}}">Modifier</a>
                        <a class="btn btn-danger btn-sm" href="#">Archiver</a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-panel">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> Ajouter un temps</h4>
                        <form class="form-horizontal style-form">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Projet à alimenter : </label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                      {% for projet in projetToEmploye %}
                                        {% if projet.livre == 0  %}
                                          {% if projet.archiveProjet == 0 %}
                                            <option value="{{ projet.idProjet }}">{{ projet.intituleProjet }}</option>
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Nombre de jours : </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <button type="button" class="btn btn-sm btn-success">Enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 main-chart">
                <h4>Historique des temps de production :</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Projet</th>
                            <th>Temps</th>
                            <th>Date de saisie</th>
                            <th>Coût total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for production in pagination %}
                        <tr>
                            <th><a href="{{ path('cms_projetTrack', {'id' : production.idProjet}) }}">{{ production.intituleProjet }}</a></th>
                            <th>{{ production.jourProduction }} j</th>
                            <th>{{ production.dateProduction|date('d-m-Y') }}</th>
                            <th>{{ production.total }} €</th>
                            <th>
                                <a href="#" class="btn btn-danger btn-xs">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-3 col-sm-3 col-md-offset-4">
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
</section>


{% endblock %}
