{% extends '_layout/public.html.twig' %}

{% block content %}


        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">

                <h3><i class="fa fa-angle-right"></i> Edition d'un employé</h3>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="form-panel">
                                <form class="form-horizontal style-form">
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Prénom : </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="Prénom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Nom : </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="Nom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Email : </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Métier : </label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option>Métier 1</option>
                                                <option>Métier 2</option>
                                                <option>Métier 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Coût journalier (en €) : </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="300">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">Date d'embauche : </label>
                                        <div class="col-sm-10">
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-success">Modifier</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row -->
            </section>
        </section>


{% endblock %}
