{% extends '_layout/public.html.twig' %}

{% block content %}

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Gestion des employés</h3>
        <a class="btn btn-success btn-sm pull-right" href="{{ path('cms_employeEdit') }}">Ajouter un employé</a>

        <div class="row">
            <div class="col-lg-12 main-chart">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Métier</th>
                            <th>Coût (jour)</th>
                            <th>Embauche</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for employe in pagination %}
                        <tr>
                            <th>{{ employe.nom }}</th>
                            <th>{{ employe.prenom }}</th>
                            <th>{{ employe.email }}</th>
                            <th>{{ employe.intituleMetier }}</th>
                            <th>{{ employe.coutJournalier }} €</th>
                            <th>{{ employe.dateEmbauche|date('d-m-Y') }}</th>
                            <th>
                                <a href="{{ path('cms_employeTrack', {'id' : employe.idEmploye}) }}" class="btn btn-success btn-xs">
                                    <i class="fa fa-clock-o"></i>
                                </a>
                                <a href="{{ path('cms_employeUpdate', {'id' : employe.idEmploye}) }}" class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ path('cms_employeDelete', {'id' : employe.idEmploye}) }}" class="btn btn-danger btn-xs">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-md-offset-5">
                <div class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
</section>

{% endblock %}
