{% extends '_layout/public.html.twig' %}

{% block content %}


        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">

                <h3><i class="fa fa-angle-right"></i> Ajout d'un employé</h3>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="form-panel">
                                <form class="form-horizontal style-form" method="POST" >
                                    <div class="form-group">
                                        {{ form_errors(form.nom) }}
                                        {{ form_label(form.nom) }} :
                                        {{ form_widget(form.nom, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.nom.vars.label}}) }}
                                    </div>
                                    <div class="form-group">
                                      {{ form_errors(form.prenom) }}
                                      {{ form_label(form.prenom) }} :
                                      {{ form_widget(form.prenom, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.prenom.vars.label}}) }}
                                    </div>
                                    <div class="form-group">
                                      {{ form_errors(form.email) }}
                                      {{ form_label(form.email) }} :
                                      {{ form_widget(form.email, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.email.vars.label}}) }}
                                    </div>
                                    <div class="form-group">

                                          {{ form_errors(form.metier) }}
                                          {{ form_label(form.metier) }} :
                                          {{ form_widget(form.metier, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.metier.vars.label}}) }}

                                    </div>
                                    <div class="form-group">
                                      {{ form_errors(form.coutJournalier) }}
                                      {{ form_label(form.coutJournalier) }} :
                                      {{ form_widget(form.coutJournalier, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.coutJournalier.vars.label}}) }}
                                    </div>
                                    <div class="form-group">
                                      {{ form_errors(form.archive) }}
                                      {{ form_label(form.archive) }} :
                                      {{ form_widget(form.archive, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.archive.vars.label}}) }}
                                    </div>
                                    <div class="form-group">
                                      {{ form_errors(form.dateEmbauche) }}
                                      {{ form_label(form.dateEmbauche) }} :
                                      {{ form_widget(form.dateEmbauche, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.dateEmbauche.vars.label}}) }}
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-success">Ajout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row -->
            </section>
        </section>


{% endblock %}
