{% extends '_layout/public.html.twig' %}

{% block content %}

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i>Suppresion d'un employé</h3>

        <div class="row">
            <div class="col-lg-12 main-chart">
              <p> Ête vous sur de vouloir supprimer "Nom Prenom" ? </p>
              <p> <a class="btn btn-success btn-sm pull-right" href="">Confimer</a> </p>
            </div>
          </div>
        </section>
      </section>

{% endblock %}
