{% extends '_layout/public.html.twig' %}

{% block content %}

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i>Suppresion d'un metier</h3>

        <div class="row">
          <form action="{{ path('cms_metier') }}">
            <div class="col-lg-12 main-chart">
              <p> Ête vous sur de vouloir supprimer  ? </p>
              <button type="submit" class="btn btn-success">Confirmer</button>
            </div>
          </form>
          </div>
        </section>
      </section>

{% endblock %}
