{% extends '_layout/public.html.twig' %}

{% block content %}

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Gestion des métiers</h3>
        <a class="btn btn-success btn-sm pull-right" href="{{ path('cms_metierEdit') }}">Ajouter un métier</a>

        <div class="row">
            <div class="col-lg-12 main-chart">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Intitulé</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for metier in pagination %}
                        <tr>
                            <th>{{metier.idMetier}}</th>
                            <th>{{metier.intituleMetier}}</th>
                            <th>
                                <a href="{{ path('cms_metierUpdate', {'id' : metier.idMetier}) }}" class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ path('cms_metierDelete', {'id' : metier.idMetier}) }}" class="btn btn-danger btn-xs">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-md-offset-5">
                <div class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
</section>

{% endblock %}
