{% extends '_layout/public.html.twig' %}

{% block content %}

  <!-- ********************************************************************************************************************************************************** MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">

      <h3>
        <i class="fa fa-angle-right"></i>
        Modification du métier </h3>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="form-panel">
              <form method="POST" class="form-horizontal style-form">
                <div class="form-group">
                  {{ form_errors(form.intituleMetier) }}
                  {{ form_label(form.intituleMetier) }} :
                  {{ form_widget(form.intituleMetier) }}
                </div>
                <button type="submit" class="btn btn-sm btn-success">Modifier</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--/row -->
    </section>
  </section>

{% endblock %}
