{% extends '_layout/public.html.twig' %}

{% block content %}

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Gestion des projet</h3>
        <a class="btn btn-success btn-sm pull-right" href="{{ path('cms_projetEdit') }}">Ajouter un projet</a>

        <div class="row">
            <div class="col-lg-12 main-chart">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Intitulé</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Date création</th>
                            <th>Livré</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for projet in pagination %}
                        <tr>
                            <th>{{ projet.intituleProjet }}</th>
                            <th>{{ projet.description }}</th>
                            <th>{{ projet.type }}</th>
                            <th>{{ projet.dateCreationProjet|date('d-m-Y') }}</th>
                            {% if projet.livre == 1 %}
                            <th>Oui</th>
                            {% else %}
                            <th>Non</th>
                            {% endif %}
                            <th>
                                <a href="{{ path('cms_projetTrack', {'id' : projet.idProjet}) }}" class="btn btn-success btn-xs">
                                    <i class="fa fa-clock-o"></i>
                                </a>
                                <a href="{{ path('cms_projetUpdate') }}" class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ path('cms_projetDelete', {'id' : projet.idProjet}) }}" class="btn btn-danger btn-xs">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-md-offset-5">
                <div class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
</section>

{% endblock %}
