{% extends '_layout/public.html.twig' %}

{% block content %}

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <h3><i class="fa fa-angle-right"></i> Suivi du projet {{ projetById.intituleProjet }}</h3>

        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <div class="form-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <tbody>
                                <tr><th>Intitulé</th><td>{{ projetById.intituleProjet }}</td></tr>
                                <tr><th>Description</th><td>{{ projetById.description }}</td></tr>
                                <tr><th>type</th><td>{{ projetById.type }}</td></tr>
                                <tr><th>Date création</th><td>{{ projetById.dateCreationProjet|date('d-m-Y') }}</td></tr>
                                {% if projetById.livre %}
                                <tr><th>Livré</th><td>Oui</td></tr>
                                {% else %}
                                <tr><th>Livré</th><td>Oui</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <a class="btn btn-success btn-sm" href="{{ path('cms_projetUpdate')}}">Modifier</a>
                        <a class="btn btn-danger btn-sm" href="#">Livré</a>
                    </div>
                </div>
                {% if projetById.livre == 0 %}
                <div class="row">
                    <div class="form-panel">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> Ajouter un temps</h4>
                        <form class="form-horizontal style-form">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Projet à alimenter : </label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                      {% for employe in projetEmploye %}
                                        <option value="{{ employe.idEmploye }}">{{ employe.nom }} {{ employe.prenom }}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Nombre de jours : </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <button type="button" class="btn btn-sm btn-success">Enregistrer</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-7 main-chart">
                <h4>Historique des temps de production :</h4>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Temps</th>
                            <th>Coût total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for productionEmploye in pagination %}
                        <tr>
                            <th><a href="{{ path('cms_employeTrack', {'id' : productionEmploye.idEmploye}) }}">{{ productionEmploye.nom }}</a></th>
                            <th>{{ productionEmploye.prenom }}</th>
                            <th>{{ productionEmploye.jourProduction }} j</th>
                            <th>{{ productionEmploye.total }} €</th>
                            <th>
                                <a href="#" class="btn btn-danger btn-xs">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </th>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-3 col-sm-3 col-md-offset-4">
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
        <!--/row -->
    </section>
</section>


{% endblock %}
