{% extends '_layout/public.html.twig' %}

{% block content %}

  <!-- ********************************************************************************************************************************************************** MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">

      <h3>
        <i class="fa fa-angle-right"></i>
        Modification du projet "Nom projet"</h3>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="form-panel">
              <form class="form-horizontal style-form">
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Intitulé :
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="Intitulé">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Description :
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="Description">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Type :
                  </label>
                  <div class="col-sm-10">
                    <select class="form-control">
                      <option value="Capex">Capex</option>
                      <option value="Opex">Opex</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Date d'embauche :
                  </label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" value="DAte">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Livré :
                  </label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" value="oui">
                  </div>
                </div>

                <button type="button" class="btn btn-sm btn-success">Modifier</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--/row -->
    </section>
  </section>

{% endblock %}
