{% extends '_layout/public.html.twig' %}

{% block content %}

  <!-- ********************************************************************************************************************************************************** MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">

      <h3>
        <i class="fa fa-angle-right"></i>
        Ajout d'un projet</h3>

      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="form-panel">
              <form class="form-horizontal style-form" method="POST">
                <div class="form-group">
                  {{ form_errors(form.intituleProjet) }}
                  {{ form_label(form.intituleProjet) }} :
                  {{ form_widget(form.intituleProjet, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.intituleProjet.vars.label}}) }}
                </div>
                <div class="form-group">
                  {{ form_errors(form.description) }}
                  {{ form_label(form.description) }} :
                  {{ form_widget(form.description, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.description.vars.label}}) }}
                </div>
                <div class="form-group">
                  {{ form_errors(form.type) }}
                  {{ form_label(form.type) }} :
                  {{ form_widget(form.type, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.type.vars.label}}) }}
                </div>
                <div class="form-group">
                  {{ form_errors(form.livre) }}
                  {{ form_label(form.livre) }} :
                  {{ form_widget(form.livre, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.livre.vars.label}}) }}
                </div>
                <div class="form-group">
                  {{ form_errors(form.archiveProjet) }}
                  {{ form_label(form.archiveProjet) }} :
                  {{ form_widget(form.archiveProjet, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.archiveProjet.vars.label}}) }}
                </div>
                <div class="form-group">
                  {{ form_errors(form.dateCreationProjet) }}
                  {{ form_label(form.dateCreationProjet) }} :
                  {{ form_widget(form.dateCreationProjet, {'attr' : {'class' : 'form-control col-sm-2 col-sm-2 control-label', 'placeholder' : form.dateCreationProjet.vars.label}}) }}
                </div>
                <button type="submit" class="btn btn-sm btn-success">Ajouer</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--/row -->
    </section>
  </section>

{% endblock %}
